.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.container {
  background-color: rgb(255, 255, 255);
  margin: auto;
  border-radius: 10px;
  border: 2px solid rgba(122, 122, 122, 0.2);
  padding: 10px;
  overflow: hidden;
}

input {
  margin-top: 10px;
  width: 90%;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: rgba(203, 203, 203, 0.2);
}

button {
  margin: 10px;
  outline: none;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
